<div class="flashcard" data-controller='flashcard' data-target='deck.card'>
  <div class="flashcard-body">
    <div class="flashcard-front">
      FRONT #<%= number %>
    </div>
    <div class="flashcard-back">
      BACK #<%= number %>
    </div>
  </div>
  <footer class='flashcard-footer'>
    <button class='flashcard-button' data-action='flashcard#flip'>FLIP !</button>
  </footer>
</div>
