<div class='deck' data-controller='' data-deck-index="0">
  <h1>Go Ahead and flip me !</h1>
  <%# <button data-action='deck#previous'><-</button> %>
  <article>
    <%= render 'flashcard', number: 1 %>
  </article>
  <%# <button data-action='deck#next'>-></button> %>
</div>
