<main>
  <h1>Stimulus Cart</h1>
  <a href="#0" class="cd-add-to-cart">Add To Cart</a>
</main>

<div class="cart">
  <div class="cart-header">
    <p>My Cart</p>
    <div class="item-count">0</div>
  </div>
</div>
