.flashcard {
  color: white;
  display: none;
  &-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
    background: pink;
    min-width: 160px;
  }
  &-back {
    display: none;
  }
  &-button {
    background: white;
    border-radius: 20px;
    margin: 0 auto;
    color: pink;
    font-weight: bold;
    &:hover {
      background: white;
      color: pink;
    }
  }
  &-footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  &--flipped {
    .flashcard {
      &-front {
        display: none;
      }
      &-back {
        display: block;
      }
      &-body {
        background: #ACE1FD;
      }
    }
  }
  &--current {
    display: block;
  }
}
